<form method="post" action="{{ path('site_delete', {'id': site.id}) }}" onsubmit="return confirm('Etes vous sûr de supprimer cette application?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ site.id) }}">
	<button class="btn">Supprimer</button>
</form>
