{% extends 'base.html.twig' %}

{% block title %}Editer Application
{% endblock %}

{% block body %}
	<h1>Editer Application
	</h1>

	{{ include('site/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('site_index') }}">Retour à la liste</a>

	{{ include('site/_delete_form.html.twig') }}
{% endblock %}
