{% extends 'base.html.twig' %}

{% block title %}Gestion des versions (V.
	{{ app_version }})
{% endblock %}

{% block body %}

	<div class='row'>
		<div class='col-md-6'>
			<h1>Site index</h1>
		</div>
		<div class='col-md-6 text-right'>
			<a href="{{ path('site_refresh') }}" class="btn btn-primary">
				Vérifier</a>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>National</th>
				<th>Programme</th>
				<th>Url</th>
				<th>Version Installée</th>
				<th>Dernière Version</th>
				<th>Dernière Vérification</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for site in sites %}
				<tr class="{{ compare(site.installedVersion,site.lastVersion) }}">
					<td>{{ site.id }}</td>
					<td>
						{% if(site.estNational) %}
							<i class="far fa-check-square"></i>
						{% else %}
							<i class="far fa-square"></i>
						{% endif %}
					</td>
					<td>{{ site.name }}</td>
					<td>
						<a href="{{ site.url }}" target="_blank">
							<i class="fas fa-external-link-alt"></i>
							&nbsp;
						</a>
						{{ site.url }}
					</td>
					<td>{{ site.installedVersion }}</td>
					<td>{{ site.lastVersion }}</td>

					<td>{{ site.updatedAt ? site.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('site_show', {'id': site.id}) }}">Voir</a>
						<a href="{{ path('site_edit', {'id': site.id}) }}">Editer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">Pas d'Application</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('site_new') }}">Ajouter une application</a>
{% endblock %}
