{% extends 'base.html.twig' %}

{% block title %}Nouvelle application
{% endblock %}

{% block body %}
	<h1>Ajouter une application</h1>

	{{ include('site/_form.html.twig') }}

	<a href="{{ path('site_index') }}">Retour à la liste</a>
{% endblock %}
