{% extends 'base.html.twig' %}

{% block title %}Site
{% endblock %}

{% block body %}
	<h1>Site</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Application</th>
				<td>{{ site.name }}</td>
			</tr>
			<tr>
				<th>Url</th>
				<td>{{ site.url }}</td>
			</tr>
			<tr>
				<th>Version Installée</th>
				<td>{{ site.installedVersion }}</td>
			</tr>
			<tr>
				<th>Application Nationale.</th>
				<td>
					{% if(site.estNational) %}
						<i class="far fa-check-square"></i>
					{% else %}
						<i class="far fa-square"></i>
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>Version Disponible</th>
				<td>{{ site.lastVersion }}</td>
			</tr>
			<tr>
				<th>Texte à parser</th>
				<td>{{ site.recherche }}</td>
			</tr>
			<tr>
				<th>Champs à retourner</th>
				<td>{{ site.champs }}</td>
			</tr>
			<tr>
				<th>Dernière Mise à jour</th>
				<td>{{ site.updatedAt ? site.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('site_index') }}">Retour à la liste</a>

	<a href="{{ path('site_edit', {'id': site.id}) }}">Editer</a>

	{{ include('site/_delete_form.html.twig') }}
{% endblock %}
